.--u-pos-relative {
  position: relative;
}
.--u-bigger {
  font-weight: bold;
  text-transform: capitalize;
  // letter-spacing: 2px;
}

.--u-removeAccount {
  font-size: calc(var(--main-font-size) + 1rem);
  margin: 0 auto;
  height: 100%;
  width: 100%;
  text-transform: capitalize;
  background-color: inherit;
  border: none;
  color: currentColor;
  cursor: pointer;
}
