<div class="error">
  <p class="error__heading">Error occured!!</p>
  <p class="error__paragraph">
    <span class="error__paragraph--highlight">message: </span>
    <%=err.message%>
  </p>
  <p class="error__paragraph">
    <span class="error__paragraph--highlight">status: </span>status:
    <%=err.status%>
  </p>
  <p class="error__paragraph">
    <span class="error__paragraph--highlight">name: </span>name: <%=err.name%>
  </p>
</div>
