$color-blue-dark: #00204a;
$color-blue: #005792;
$color-blue-light: #00bbf0;
$color-brown: #fdb44b;
$font-main: #00bbf0;
$main-font-size: 1rem;
$error-background: rgb(126, 6, 6);
$error-paragraph-color: rgb(255, 0, 85);
$error-heading-color: #d82685;

$success-background: rgb(13, 105, 48);
$success-heading-color: rgb(102, 238, 23);
$success-paragraph-color: rgb(51, 172, 51);
